.container{
    display: flex;
    gap: 24px;
    align-items: center;
    border: none;
    padding: 0px;
    margin: 0px;
}

.checkbox{
    width: 20px;
    height: 20px;
    border: 2px solid var(--Almost-White, #E6E5EA);
    cursor: pointer;
    position: relative;
}

.checkbox:hover{
    border: 2px solid var(--Neon-Green, #A4FFAF);
}

.checkbox_mark{
    width: 20px;
    height: 20px;
    pointer-events: none;
    position: absolute;
    top: -2px;
    left: -2px;
}

.ignore{
    display: none;
}

.label{
    color: var(--Almost-White, #E6E5EA);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media(max-width: 575px){
    .container{
        gap: 20px;
    }

    .label{
        font-size: 1rem;
    }
}