@font-face {
    font-family: 'jet brains mono';
    src: url('../public/Fonts/JetBrainsMono-Bold.ttf');
}

:root{
    --font: 'jet brains mono';
}

* {
    box-sizing: border-box;
    transition: all 0.2s linear;

    --closest: 100;
    --close: 75;
    --far: 50;
    --farther: 25;
    --farthest: 0;
}

body{
    min-height: 100vh;
    background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
}

.container{
    width: 540px;
    height: 695px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    inset: 0;
    margin: auto;
}

.title{
    color: var(--Grey, #817D92);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 0px;
}